:root {
  --color-primary: #397cd3;
  --color-invert: #fff;
  --box-shadow: rgba(19, 19, 26, 0.16) 0 0 4px;
  --border-color: #e2e4f0;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-st: 24px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.mt {
  margin-top: var(--spacing-st);
}

.mb {
  margin-bottom: var(--spacing-st);
}

.mt-md {
  margin-top: var(--spacing-md);
}

.mb-md {
  margin-bottom: var(--spacing-md);
}

.ml-sm {
  margin-left: var(--spacing-sm);
}

.mt-sm {
  margin-top: var(--spacing-sm);
}

.mb-sm {
  margin-bottom: var(--spacing-sm);
}

.bold {
  font-weight: bold;
}