:root {
  --color-primary: #397cd3;
  --box-shadow: rgb(45 46 131 / .16) 0 0 4px;
  --border-color: #e2e4f0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.ml-sm {
  margin-left: 8px;
}

.mt-sm {
  margin-top: 8px;
}

.bold {
  font-weight: bold;
}